<div class="container">
  <div class="row">
    <div class="col">
      <img
        class="img-responsive image"
        src="assets/rickmortylogo.jpg"
        height="200px"
        width="200px"
      />

      <div class="header--title">
        <h2>Rick and Morty</h2>
      </div>
      <div class="mb-4">
      <button type="button" class="btn btn-primary btn-lg mr-4" [routerLink]="''">
          Dashboard 
        </button>
        <button type="button" class="btn btn-primary btn-lg"[routerLink]="['/characters']">Characters</button>
      </div>
      <hr />
    </div>
  </div>
</div>
