.header--title {
    position: absolute;
    top: 9vw;
    text-align: center;
  }

  hr {
    border-top: 0px solid blue !important;
    padding: 0;
    margin-top: 0.5em !important;
    border-width: 6px !important;
    width: 69em;

  }

  .h2, h2 {
    font-size: 3em;
    font-family: fantasy;
    margin-left: 4em;
}